<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>在线程序切片系统</title>

    <style type="text/css">

        #editor {
            font-size:14px;
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0%;
            left: 20%;


            
            right: 50%;
        }

        .myMarker {
            position:absolute;
            background: rgba(0, 245, 72, 0.64);
            z-index:20
        }
        </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">






</head>


<body ng-app="app" ng-controller="myCtrl" >




<input  onchange="angular.element(this).scope().change()"  type="file" id="file" style="display:none">
<div  style=" position: absolute;
top:0%;width:20%;bottom:0;
       background-color:#F7F7F7">

    <button  ng-click="file()"style="position: absolute;
top:0%; width:100%" class="btn btn-success"  >
        <span  class="glyphicon glyphicon-open" ></span> 选择文件
    </button>
    <button  ng-click="dir()"style="position: absolute;
top:4%; width:100%" class="btn btn-primary"  >
        <span  class="glyphicon glyphicon-folder-open" ></span> 容器访问
    </button>

    <div style="height:15vh">

    </div>

    <ul class="nav nav-pills nav-stacked"  ng-repeat="x in navstyle " ng-init="outerIndex = $index" >


            <li     ng-click="nav($index)"role="presentation"  class="{{x[0]}}" style="font-size:17px;box-shadow: 0px 0px 4px #b1b9bc;">



                <a >  <span class="{{icon[$index]}}" style="margin-right: 2vw"  aria-hidden="true"></span>{{x[1]}}</a>


            </li>



            <div    ng-show="x[0]=='active'&&$index<3"   style="height:20vh" >

                <div class="radio" ng-repeat="y in radiocontent[outerIndex]" style="height:4vh" >
                    <label style="font-size:16px">
                        <input  ng-click="radio(outerIndex.toString()+$index)"  ng-checked="$index==0" type="radio" name="{{outerIndex}}" style="font-size:15px" >{{y}}

                    </label>


                </div>



            </div>


        <div    ng-show="x[0]=='active'&&$index==3"   style="height:40vh" >

            <div class="radio" ng-repeat="y in radiocontent[outerIndex]   " style="height:4vh" >
                <label style="font-size:16px" >
                    <input  ng-click="radio('3'+$index)" type="radio" name="3"  ng-checked="$index==0"  >{{y}}
                </label>
            </div>

        </div>



        <div    ng-show="x[0]=='active'&&$index==4"   style="height:20vh" >

            <div class="input-group">

                <span class="input-group-addon" >超时设置(秒)</span>
                <input type="text" class="form-control" placeholder="1800"  ng-model="time" aria-describedby="basic-addon1">
            </div>

        </div>












    </ul>


    <div  ng-show="showimage" class="alert alert-warning" role="alert" style="position: absolute;
bottom:9.6%; width:100%">发现变量:{{current}}</div>

    <button ng-show="showimage" ng-click="image()" style="position: absolute;
bottom:8%; width:100%" class="btn btn-info" >
        <span  class="glyphicon glyphicon-picture"></span> 获取图像
    </button>

    <button  ng-click="openterminal()" style="position: absolute;
bottom:4%; width:100%" class="btn btn-warning" >
        <span  class="glyphicon glyphicon-hdd"></span> 终端模式
    </button>
<button  ng-click="net()" style="position: absolute;
bottom:0; width:100%" class="btn btn-danger" >
        <span  class="glyphicon glyphicon-save"></span> {{slice}}
    </button>


</div>


<pre id="editor">#include &ltstdio.h&gt

int main()
{
    int n, i, sum;
    void A(int *x, int *y);

    printf("Enter a positive number: ");
    scanf("%d", &n);

    sum = 0;
    i = 1;
    while (i <= n)
    {
     A(&sum,&i);
    }

    printf ("sum = %d\n", sum);
    printf ("i = %d\n", i);
    return 0;
}

void A(int *x, int *y)
{
    void add(int *a, int *b);
    void inc(int *z);
    add(x,y);
    inc(y);
}

void add(int *a, int *b)
{
    *a = *a + *b;
//    return(a);
}

void inc(int *z)
{
//    int add(int a, int b);
    int tmp = 1;
    add(z,&tmp);
}</pre>



<div  id="tx" style="   font-size:14px;

            position: absolute;
            top: 0;
            bottom: 0%;
            left: 50%;
            right: 0%">





    <textarea class="form-control"  style="height:100%;font-size: 20px;font-family: 'Times New Roman'"  >{{origin}}

</textarea>




    <div  ng-show="showdir==true" style=" position: absolute;
            top: 0%;
            width:30%;
            left: 70%;
            height:100%;border:solid;border-width: 2px
            ; border-radius:8px;border-color:gainsboro;overFlow-y:scroll;   overFlow-x:scroll;
            ">
        <ul class="nav nav-pills nav-stacked"  >

            <li   ng-click="back()" ng-show="path!='/'"role="presentation"   style="font-size:17px;box-shadow: 0px 0px 4px #b1b9bc;">



                <a   >  <span class="glyphicon glyphicon-step-backward" style="margin-right: 2vw"  aria-hidden="true"></span>返回上一级</a>


            </li>



        </ul>
        <ul class="nav nav-pills nav-stacked"  ng-repeat="x in filelist " ng-init="outerIndex = $index" >


            <li    role="presentation"   style="font-size:17px;box-shadow: 0px 0px 4px #b1b9bc;white-space: nowrap">



                <a  ng-show="x[1]==true"ng-click="fileturn(x[0])">  <span class="glyphicon glyphicon-folder-open" style="margin-right: 2vw "  aria-hidden="true"></span>{{x[0]}}</a>
                <a  ng-show="x[1]==false" ng-click="openfile(x[0])">  <span class="glyphicon glyphicon-file" style="margin-right: 2vw"  aria-hidden="true"></span>{{x[0]}}</a>

            </li>


</ul>

    </div >







</div>






<iframe  ng-show="terminal" src="http://localhost:8080"    style="width:50%;height:40%; position: absolute;
            top: 60%;
            bottom: 0%;
            left: 50%;
            right: 0%;
width:50%"></iframe>

<script src="ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

<script src="index.js"></script>



</body>
</html>